/* ------------------------------------ */
/* SignIn Page : Starts here */
/* ------------------------------------ */

.signIn_page {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  /* border: 0.1rem solid red; */
}

.signIn_page .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 0.1rem solid white; */
  background-color: var(--primary_bg1);
}

/* SignIn Page : Headers starts */

.signIn_page .container .header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 25%;
  padding-bottom: 0.5rem;
  /* border: 0.1rem solid black; */
}
.signIn_page .container .header .logo_cover {
  position: absolute;
  display: flex;
  width: 7rem;
  height: 2.8rem;
  left: 0.5rem;
  top: 0.8rem;
  /* border: 0.1rem solid black; */
}
.signIn_page .container .logo_cover .logo {
  width: 100%;
  height: 100%;
}

.signIn_page .container .header .heading {
  font-family: var(--header_font);
  font-size: 2.5rem;
  color: var(--primary_txt1);
  word-spacing: -0.4rem;
}

/* SignIn Page : Body starts */

.signIn_page .container .body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  background-color: var(--primary_bg2);
  /* border: 0.1rem solid white; */
}

/* ------------------------------------ */
/* SignIn Page : Form Start here */
/* ------------------------------------ */
.signIn_page .container .body .form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  height: 90%;
  /* border: 0.1rem solid black; */
}

.signIn_page .container .body .form form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.signIn_page .container .body .form label {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 16rem;
  height: 2.7rem;
  border-radius: 5rem;
  background-color: rgba(34, 175, 236, 0.2);
  border: 0.08rem solid black;
  overflow: hidden;
}
.signIn_page .container .body .form label input {
  font-size: 1.1rem;
  padding: 0 0.2rem;
  outline: none;
  width: 13rem;
  border: transparent;
  background-color: transparent;
}
.signIn_page .container .body .form label .input_icons {
  font-size: 1.4rem;
}
.signIn_page .container .body .form .signIn_page_btn {
  cursor: pointer;
  color: var(--primary_txt1);
  font-family: var(--btn_font);
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  border: transparent;
  background-color: var(--primary_bg1);
}
.signIn_page .container .body .form .signIn_page_btn:hover {
  color: var(--primary_bg1);
  background-color: var(--primary_txt1);
}

.divider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 3rem;
}
.divider span.bar {
  width: 8rem;
  height: 0.13rem;
  background-color: black;
}

.google_signIn_cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 2.1rem;
  border-radius: 5rem;
  border: 0.08rem solid black;
  overflow: hidden;
}
.google_signIn_cover button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  border: 0;
  transition: 0.2s;
  color: var(--primary_txt2);
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: var(--primary_txt1);
}
.google_signIn_cover button:hover {
  color: var(--primary_txt1);
  background-color: var(--primary_bg1);
}

/* ------------------------------------ */
/* SignIn Page : Form End here */
/* ------------------------------------ */

/* ------------------------------------ */
/* SignIn Page : Footer Start here */
/* ------------------------------------ */

.signIn_page .container .body .footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  /* border: 0.1rem solid black; */
}
